/* ----------------------------BALANCE---------------------------- */

/* main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
} */

.balanceSection {
  padding-top: 28px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.balanceSection.hidden {
  transform: scale(0) translateY(2000px);
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.balanceWrap {
  border: 0.2px solid #23232e;
  border-radius: 20px;
  padding: 20px 17px;
  background: var(--card-bg-color);
  box-shadow: 0 2px 0 0 rgba(35, 35, 46, 0.99);
  opacity: 0;
}
.balanceWrap.shown {
  opacity: 1;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.1s both;
}

.balanceHeading {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 19px;
}

.balanceValueWrap {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
}

.balanceButtonEye {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.balanceButtonEye svg {
  fill: var(--text-color);
}
.balanceButtonEye.hidden svg {
  fill: var(--primary-color);
}

.balanceButtonWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.balanceButtonWrap a {
  position: relative;
  flex-basis: calc((100% - 7px) / 2);
  text-align: center;
}

.balanceButtonWrap span {
  position: relative;
  top: -10px;
  font-size: 7px;
}

.primaryButton.deactive.balance {
  padding: 12px 0 13px;
}

/* ----------------------------TOKENS---------------------------- */

.tokensSection {
  padding-top: 28px;
  transition: all 0.5s 0.1s ease-in-out;
  opacity: 1;
}
.tokensSection.hidden {
  transform: scale(0) translateY(2000px);
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.tokensHeading-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 25px;
}

.tokensHeading {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}

.tokensHistoryButton {
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #8793a2;
  background-color: transparent;
}

.tokensListWrap {
  border: 0.2px solid #23232e;
  border-radius: 15px;
  background-color: var(--card-bg-color);
  padding: 16px 17px;
  max-height: calc(100dvh - 56px - 195px - 28px - 18px - 74px - 45px);
  /* max-height: 180px; */
  overflow-y: scroll;
  behavior: smooth;
  opacity: 0;
}

.tokensListWrap.shown {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.3s both;
  opacity: 1;
}



.tokensListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tokensListItem:not(:first-child) {
  padding-top: 10px;
}
.tokensListItem:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.1);
}

.tokensListItemValuesWrap {
  margin-left: 15px;
  width: 100%;
}

.tokensItemHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 5px;
}

.tokensItemHeading h4 {
  font-weight: 600;
}

.tokensItemHeading span {
  margin-left: auto;
  font-weight: 600;
}

.tokensItemSummary {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: row;
  color: var(--text-secondary-color);
}

.tokensItemSummaryStatus {
  margin-left: 5px;
}
.tokensItemSummaryStatus.up {
  color: var(--approve-color);
}
.tokensItemSummaryStatus.down {
  color: var(--disapprove-color);
}

.tokensItemSummarySum {
  margin-left: auto;
}

/* ----------------------------History---------------------------- */

.historySection {
  transition: all 1s ease-in-out;
  opacity: 1;
  overflow-y: scroll;
}

.historySection.hidden {
  transform: scale(0) translateY(2000px);
  opacity: 0;
  position: absolute;
}

.historyListWrap {
  min-height: 100%;
  /* overflow-y: scroll; */
  /* behavior: smooth; */
}

.historyListDate {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.03em;
  color: #8793a2;
  margin-bottom: 15px;
}

.historyList {
  margin-bottom: 32px;
}

.historyListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 17px;
  border: 0.2px solid #23232e;
  border-radius: 15px;
  background-color: var(--card-bg-color);
}

.historyListItem:not(:last-child) {
  margin-bottom: 9px;
}

.historyItem-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-left: 15px;
}

.historyItemHeading h4 {
  font-weight: 600;
}

.historyItemValue {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.03em;
  margin-left: auto;
}
.historyItemValue.buy {
  color: #009e71;
}
.historyItemValue.sold {
  color: #f6465d;
}

.historyItemCode {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.03em;
  margin-left: 5px;
}
.historyItemCode.buy {
  color: #009e71;
}
.historyItemCode.sold {
  color: #f6465d;
}
