.hdSection {
  margin-bottom: 18px;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.hdSection.shown {
  opacity: 1;
  transform: translateY(0);
}

.hdContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hdHeading {
  margin-bottom: 15px;
}

.hdDesc {
  text-align: center;
  max-width: 247px;
  margin-bottom: 18px;
}
.invBalanceWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 255px;
}
.invBalanceCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &:not(:last-child) {
    margin-right: auto;
  }
}
.invBalanceHeading {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.invBalanceValueCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.invBalanceImg {
  margin-right: 5px;
}
.invBalanceValue {
  font-weight: 500;
  font-size: 20px;
  padding-top: 5px;
}

.flSection {
  padding-top: 0;
  min-height: calc(100dvh - 350px);
  height: 100%;
  display: flex;
}

.flContainer {
  max-height: 100%;
}

.flWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}

.flHeading {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.buttonWrap {
  margin-top: auto;
  opacity: 0;
  transition: all 0.4s 0.7s ease-in;
}

.buttonWrap.shown {
  opacity: 1;
}

.primaryButtonFl {
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
}
