:root {
  --bg-color: #17171f;
  --text-color: #fff;
  --text-secondary-color: #8793a2;
  --primary-color: #6437a0;
  --card-bg-color: #1c1c28;
  --approve-color: #0fc876;
  --disapprove-color: #f6465d;
}
